<phpunit bootstrap="../gisconverter.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
>
    <testsuite name="GisConverter">
        <directory suffix=".php">./</directory>
    </testsuite>
</phpunit>
